@page "/BindProp"
@using TangyLibrary.Models.LearnBlazorModels
<h1>BindProp</h1>

Name : @product.Name <br/>
Active : @product.IsActive <br/>
This Product is: @(product.IsActive ? "Active" : "Not Active" )<br/><br/>

Active : <input type="checkbox" @bind-value="@product.IsActive" checked="@(product.IsActive ? "checked" : null)"/> <br/>
Price : <input type="number" @bind="@product.Price" @bind:event="oninput" />

@code {

    Demo_Product product = new()
    {
        Id = 1,
        Name = "Rose",
        IsActive = true,
        Price = 99.99
    };

}