@using TangyLibrary.Models.LearnBlazorModels
<div class="bg-gray-200 p-3" @onclick=" args => LastSelectedProductUpdate(args , Product.Name)">
    <h5 class="text-green-700">Product - @Product.Id</h5>
    <input type="checkbox" @onchange="FavouriteUpdate"/> - Add to favorite <br/>
    
    Name - @Product.Name<br/>
    Price - @Product.Price<br/>
    Show - <input type="checkbox" @bind-value="@Product.IsActive" checked="@(Product.IsActive ? "checked" : null)"/> <br/>

    @if (Product.IsActive)
    {
        @foreach (var prodProp in Product.ProductProperties)
        {
            <p class="text-red-700">Key - @prodProp.Value</p>
        }
    }
    <br/>
    <_EditDeleteBtn IsActive="@Product.IsActive"></_EditDeleteBtn>
</div>

@code {
    [Parameter]
    public Demo_Product Product { get; set; }

    [Parameter]
    public EventCallback<bool> onFavouriteUpdated { get; set; }

    private async Task FavouriteUpdate(ChangeEventArgs e)
    {
        await onFavouriteUpdated.InvokeAsync((bool) e.Value);
    }
    
    [Parameter]
    public EventCallback<string> onLastSelectedProductUpdated { get; set; }
    
    private async Task LastSelectedProductUpdate(MouseEventArgs e , string name)
    {
        await onLastSelectedProductUpdated.InvokeAsync(name);
    }

}